<template>
	<form>
		<h3>New Item</h3>
		
		<div class="form-group row">
			<label class="col-sm-3">Brand</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" v-model="newItem.brand">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-3">Description</label>
			<div class="col-sm-9">
				<textarea class="form-control" rows="5" v-model="newItem.description"></textarea> 
			</div>
		</div>

		<p><strong>Option 1</strong></p>
		<div class="form-group row">
			<label class="col-sm-3">Size</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" v-model="newItem.options[0].size">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-3">Price</label>
			<div class="col-sm-9">
				<input type="text" name="" class="form-control" v-model="newItem.options[0].price">
			</div>
		</div>

		<p><strong>Option 2</strong></p>
		<div class="form-group row">
			<label class="col-sm-3">Size</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" v-model="newItem.options[1].size">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-3">Price</label>
			<div class="col-sm-9">
				<input type="text" class="form-control" v-model="newItem.options[1].price">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-12">
				<button type="button" class="btn btn-success btn-block" @click="addNewItem();">Add</button>
			</div>
		</div>

	</form>
</template>

<script>
	
	import { dbShopRef } from '../../firebaseConfig'
	export default {

		data() {

			return {

				newItem: {

						"brand": "Example: SuperTyre",
						"description" : "Example: adasdasdasdas",
						"options" : [{
							"size": "R19",
							"price": "120"
						}, {
							"size": "R19",
							"price": "120"
						}]
				}
			}
		}, 

		methods: {

			addNewItem() {

				dbShopRef.push(this.newItem);
			}
		}
	}

</script>