<template>
	<div class="container">
		<div class="row">
			
			<div class="col-sm-12 col-md-6">
				<newItem></newItem>	
			</div>

			<div class="col-sm-12 col-md-6">
				<h3>Menu</h3>
				<table class="table">
					<thead class="thead-default">
						<tr>
							<th>Item</th>
							<th>Remove from menu</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Nordic</td>
							<td><button class="btn btn-sm btn-danger" type="button"><i class="glyphicon glyphicon-trash"></i></button></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Orders start -->
		<div class="row">
			<div class="col-md-12">
				<h3>Current orders:</h3>
				<table class="table table-sm">
					<thead class="thead-default">
						<tr>
							<th>Brand</th>
							<th>Size</th>
							<th>Quantity</th>
							<th>Price</th>
						</tr>
					</thead>

					<div class="order-number">
						<strong>Order number 1</strong> 
						<button class="btn btn-sm btn-danger" type="button"><i class="glyphicon glyphicon-trash"></i></button>
					</div>

					<tbody>
						<tr>
							<td>SuperTyre</td>
							<td>R19</td>
							<td>120</td>
							<td>2</td>
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
		<!-- Orders end -->

		<hr>

		<div class="row">
			<div class="col-sm-12 col-lg-6">
				<login></login>
			</div>
		</div>
	</div>
</template>

<script>

	import newItem from '../components/admin/newItem';
	import login from '../components/auth/Login';

	export default {

		components: {
			newItem : newItem,
			login : login
		}
	}

</script>