<template>
	<div class="container shop">
		<div class="col-sm-12 col-md-6">
			<table class="table table-striped">
				<thead class="thead-default">
					<tr>
						<th>Brand</th>
						<th>Size</th>
						<th>Price</th>
						<th>Add to basket</th>
					</tr>
				</thead>

				<tbody v-for="item in getItems">
					
					<tr v-for="option in item.options">
						<td><strong>{{ item.brand }}</strong></td>
						<td>{{ option.size }}</td>
						<td>{{ option.price }}</td>
						<td>
							<button @click="addToBasket(item, option);" class="btn btn-sm btn-success" type="button">+</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- Basket start -->
		<div class="col-sm-12 col-md-6">
			<div v-if="basket.length > 0">
				<table class="table table-striped">
					<thead class="thead-default">
						<tr>
							<th>Quantity</th>
							<th>Item</th>
							<th>Total</th>
						</tr>
					</thead>

					<tbody v-for="item in basket">
						
						<tr>
							<td><button @click="decreaseQuantity(item)" class="btn btn-sm btn-default" type="button">-</button>
							<span> {{ item.quantity }} </span>
							<button @click="increaseQuentity(item)" class="btn btn-sm btn-default" type="button">+</button></td>
							<td><strong>{{ item.brand }}</strong></td>
							<td><strong>{{ item.price * item.quantity }}</strong></td>
						</tr>
					</tbody>
				</table>
				<p>Order total: </p>
				<button class="btn btn-success" type="button">Make order</button>
			</div>
			<div v-else>
				<p>No items in the basket</p>
			</div>
		</div>
		<!-- Basket end -->
	</div>
</template>

<script>
	
	export default {

		data() {

			return {

				basket: [],

				getItems: 
					[{
						"brand": "SuperTyre",
						"description" : "adasdasdasdas",
						"options" : [{
							"size": "R19",
							"price": "120"
						}, {
							"size": "R19",
							"price": "120"
						}]
					},
					{
						"brand": "Nordic",
						"description" : "adasdasdasdas",
						"options" : [{
							"size": "R16",
							"price": "85.99"
						}, {
							"size": "R16",
							"price": "85.99"
						}]
					}]
				
			}
		},

		methods: {

			addToBasket(item, option) {

				this.basket.push({

					brand : item.brand,
					price : option.price,
					size  : option.size,
					quantity : 1
				})

			},

			removeFromBasket(item) {

				this.basket.splice(this.basket.indexOf(item), 1);
			},

			increaseQuentity(item) {

				item.quantity++;

			},

			decreaseQuantity(item) {

				item.quantity--;

				//Remove from basket if quantity is zero
				if(item.quantity === 0) {
					this.removeFromBasket(item);
				}
			}
		}
	}

</script>